.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #567AE0;
    border: 1px solid #567AE0;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #5B5FCE;
    color: white;
}